<section class="home d-flex justify-content-center align-items-center">
  <div class="text-center">
    <img src="assets/img/avataaars.svg" class="mb-3" [style.width]="'250px'" alt="Avatar" />
    <h2>START FRAMEWORK</h2>
    <div class="line d-flex justify-content-center align-items-center mb-3">
      <span class="left-line me-3"></span>
      <i class="fa-solid fa-star text-white"></i>
      <span class="right-line ms-3"></span>
    </div>
    <p class="m-0 text-white">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</section>
